.site-auth-wrapper{
    .main-cont-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }
}
.login_section{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:0px 20px !important;
    .site-fieldset {
        margin-bottom: 30px;
    }
  }
  .login_form_head {
    margin-bottom: 48px;
  }
  .login_form_container{
      max-width: 420px;
      width: 100%;
  }

  .site_btn_wrapper .submit_btn{
    width: 100%;
    padding: 18px 10px 16px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
  }
  .verify_sec .login_form_head{
    margin-bottom:70px;
}
.verify_sec .site_icon_wrapper{
    width:96px;
}
.verify_sec .verify_send_icon{
    width: 113px;
    margin-bottom: 30px;
}
.verify_text_box .site_title{
 margin-bottom:30px;
}
.verify_text_box p{
    font-size:16px;
    line-height:24px;
    margin-bottom: 31px;
    text-align: center;
    color:#6A7382;
    font-weight:$ft_Weight_M;
}
.verify_sec .site_input_label{
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}
.site_link{
    font-size:16px;
    line-height:18px;
    font-weight:$ft_Weight_SM;
    color:#2A3941;
    text-decoration:underline;
  }
  .site_link:hover{
      text-decoration:none !important;
      color:#2A3941 !important;
  }
